@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import "variables";
@import "mixins";
@import './items.scss';


body {
    background-image: url(../img/fondoItem.jpg);
    background-size: cover;
    padding: 20px;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

.logo{
    display: flex;
    justify-content: center;
}






